<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Liste de films 🎬 - Ousmane</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <link rel="stylesheet" href="style.css" />
  <body>
    <div class="container">
      <h1>Liste de films 🎬</h1>

      <table class="table">
        <thead>
          <tr>
            <th>
              <a href="#" class="sort none" data-sort-by="title">
                <p class="orange">Nom du film</p>
                <span class="triangle"></span>
              </a>
            </th>
            <th>
              <a href="#" class="sort none" data-sort-by="rental_rate">
                <p class="orange">Prix de location</p>
                <span class="triangle"></span>
              </a>
            </th>
            <th>
              <a href="#" class="sort none" data-sort-by="rating">
                <p class="orange">Classification</p>
                <span class="triangle"></span>
              </a>
            </th>
            <th>
              <a href="#" class="sort none" data-sort-by="category_name">
                <p class="orange">Genre du film</p>
                <span class="triangle"></span>
              </a>
            </th>
            <th>
              <a href="#" class="sort none" data-sort-by="rental_count">
                <p class="orange">Nombre de fois loué</p>
                <span class="triangle"></span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody id="films-table"></tbody>
      </table>

      <div class="flex center">
        <input
          type="number"
          name=""
          id="paginationNombre"
          value="10"
          min="1"
          max="500"
        />
      </div>

      <nav class="flex center">
        <ul class="pagination justify-content-center pagination-design" style="gap: 0px;"></ul>
      </nav>
    </div>
    <div class="popup-bg" id="popup-bg">
      <div class="popup" id="popup">
        <h2>Bienvenue sur Sakila Project 🎬</h2>
        <p class="secondaryP">
          Explorez une liste de films avec leur année de sortie dans un format
          de tableau triable et paginé. 🌐 Triez les films par titre ou par
          année de sortie, affichez un certain nombre de films par page et
          naviguez facilement entre les pages. 🧩
        </p>
        <h3>🛠️ Technologies utilisées</h3>
        <ul>
          <div class="flex columns mgB20">
            <li>
              <h4>Backend</h4>
              <ul>
                <li>🐍 Python</li>
                <li>🌐 Flask App</li>
              </ul>
            </li>
            <li>
              <h4>Frontend</h4>
              <ul>
                <li>📄 HTML</li>
                <li>🎨 CSS</li>
                <li>🔧 JavaScript</li>
                <li>🥾 Bootstrap</li>
              </ul>
            </li>
          </div>
        </ul>
        <button class="btn btn-primary" id="visit-btn">Visiter 🚀</button>
      </div>
    </div>
    <div class="github-bar">
      <a href="https://github.com/OSU78/sakila-API-Python" target="_blank" class="github-link">
        <span>Voir sur mon GitHub</span>
      </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
