.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0px;
  }


  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: moz-available;
    width: -webkit-fill-available;
  }
  input[type="number"] {
    position: fixed;
    max-width: 50px;
    text-align: center;
    margin: 5px;
    border: 1px solid #ff5722;
    border-radius: 4px;
    caret-color: #ff5722;
    bottom: 62px;
  }
  .sort p {
    margin: 0px;
  }
  .triangle {
    content: " ";
    display: inline-block;
    width: 15px;
    height: 12px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #ff5722;
    transition: 0.3s;
  }

  .selected{
    background: #ff5722;
    transition: 0.23s;
    border-radius: 5px;
  }
  .selected p{
    color: white !important;
  }
  .selected .triangle {
    transform: rotate(180deg);
    background-color: white;
  }
  

  .sort p {
    margin: 0px;
  }
  .triangle {
    content: " ";
    display: inline-block;
    width: 15px;
    height: 12px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #ff5722;
    transition: 0.3s;
  }
  .page-item {
    background-color: white;
    height: 40px;
  }
  .ellipsis {
    margin: 10px;
  }
  .selected .triangle {
    transform: rotate(180deg);
  }

  .pagination {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 4px #08080812;
    border-radius: 8px;

    bottom: 1px;
  }
.pagination-design{
width: -webkit-fill-available;
    gap: 0px;
    background: white;
    margin: 0px;
    padding: 8px;
    border-top: 1px solid #dadada;
    box-shadow: 1px 2px 33px #4d34342e;
}
  h1 {
    background-image: linear-gradient(
      to bottom,
      #ff5722,
      #ff6d35,
      #ff7f48,
      #ff915c,
      #ffa170
    );
    font-size: 2.5rem;
    padding: 10px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  h4 {
    text-align: left;
    opacity: 0.4;
  }
  .page-link,
  .orange,
  .ellipsis,
  input {
    color: #ff5722;
      width: max-content;
  }
  #visit-btn {
    text-transform: uppercase;
    background: #ff5722;
    width: -webkit-fill-available;
    color: #ffffff;
    transition: 0.25s all;
    border: 0px;
    box-shadow: 1px 1px 22px #ff000052;
  }
  #visit-btn:hover {
    transform: scale(1.05);
  }
  h3 {
    text-align: -webkit-left;
    opacity: 0.5;
  }

  /* Styles pour la pop-up */
  .popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup {
    width: 80%;
    max-width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Style pour les éléments ul */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  /* Style pour les éléments li */
  li {
    padding: 5px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  /* Style pour les éléments h4 */
  h4 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #555;
  }

  /* Style pour les éléments li imbriqués */
  ul li ul li {
    padding-left: 20px;
    position: relative;
  }

  .flex {
    display: flex;
    gap: 10px;
  }

  .columns {
    flex-direction: column;
  }
  .columns > li {
    width: moz-available;
    width: -webkit-fill-available;
  }
  /* Ajout d'un emoji devant les éléments li imbriqués */
  ul {
    display: flex;
    flex-direction: row;
    gap: 22px;
    margin-bottom: 10px;
  }
  ul li ul li {
    padding: 0px;
  }

  .secondaryP {
    text-align: left;
    line-height: 1.7;
    opacity: 0.9;
  }
  .mgB20 {
    margin-bottom: 22px;
  }
  .container {
    margin-top: 42px;
  }

  /*Code CSS pour le gitHUB*/
  .github-bar {
      position: fixed;
    top: 0;
    left: 0;
   
    width: 100%;
    height: 40px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .github-link {
    transition: 0.23s;
    color: #666666;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .github-icon {
    width: 24px;
    height: 24px;
    fill: white;
    transition: fill 0.3s;
  }

  .github-link:hover .github-icon {
    fill: #ff5722;
  }
  .github-link:hover{
    transition: 0.23s;
    color: #ff5722;
  }


  p:hover{
    text-decoration: none;
    text-decoration-line: none !important;
  }

  .none:hover{
    text-decoration: none;
    text-decoration-line: none !important;
  }

.table td {
    width: 152px !important;
    max-width: 152px !important;
}

.table {
  
    margin-bottom: 10rem;
}

.currentPage{
 
    color:#f44336;
    background: linear-gradient(183deg, rgb(248 203 188) 0%, rgb(255 255 255) 80%);
}


/* MEDIA QUERY*/
@media (min-width: 768px){
.container {
    max-width: 920px;
}
}
@media (min-width: 576px){
.container {
    max-width: 940px;
}
}
